*.*
!.gitignore
!ZyboConstraints.xdc

!*.srcs
!*/*.srcs/constrs_1/**/*.xdc
!*/*.srcs/sim_1/new/*.vhd
!*/*.srcs/sources_1/new/*.vhd
!*/*.srcs/sources_1/bd/*/hdl/*.vhd
!*/*_1.0
!*/*_1.0/hdl/*.vhd

!*.sdk
!*/*.sdk/*/src/**/*.h
!*/*.sdk/*/src/**/*.c
*/*.sdk/bootloader
Makefile
